<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 namespace속성은 연결할 mapper의 interface 풀 경로로 작성  -->
<mapper namespace="com.momo.mapper.FileuploadMapper">
	<insert id="insert">
		insert into tbl_attach
						values (#{uuid}, #{uploadpath}, #{filename}
									, #{filetype}, #{bno})
	</insert>
	
	<select id="getList" resultType="com.momo.vo.FileuploadVO">
		select t.*
		        , uploadpath||uuid||'_'||filename savePath
        		, decode(filetype, 'I'
                			,uploadpath||'s_'||uuid||'_'||filename
                			,'') s_savePath 
		  from tbl_attach t
		 where bno=#{bno}
	
	</select>
	
	<delete id="delete">	
		delete tbl_attach 
 		 where bno = #{bno}
   		   and uuid = #{uuid}
	</delete>
	
	<select id="getOne" resultType="com.momo.vo.FileuploadVO">
		select t.*
		        , uploadpath||uuid||'_'||filename savePath
        		, decode(filetype, 'I'
                			,uploadpath||'s_'||uuid||'_'||filename
                			,'') s_savePath 
		  from tbl_attach t
		 where bno=#{bno}
		   and uuid = #{uuid}
	</select>
</mapper>

















